<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>BSIS_TODO</title>
  </head>
  <body>
    <h1 style="text-align: center;">부산일과학고 일정 관리 사이트</h1>
    <h3><a href="/createTodo" , style="text-decoration: none;">일정추가</a></h3>
    <h2 style="text-align: center;">일정 조회</h2>
    <br />
    <div id="root"></div>

    <!-- IE SUPPORT -->
    <script src="https://polyfill.io/v3/polyfill.min.js"></script>

    <script type="text/javascript" src="/javascripts/index.bundle.js"></script>
  </body>
</html>
